html {
  -webkit-font-smoothing: antialiased;   
  overflow-x: hidden; 
}
body {
    margin: 0px !important;
}

#home-screen {
    background-image: url("/wedding/img/valsday.png");
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
    background-size: contain;
    background-position: center center;
}

#overlay-black {
    background-image: url('/wedding/img/pattern.png');
    background-color: rgb(176,252,35);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.6;
    z-index: 1;
    left: 0%;
}

#wrap {
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-align: center;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-top: -285px;
    top: 50%;
    margin-left: -8px;
}

#wrap p {
    font-family: 'Lato', sans-serif;
    letter-spacing: -1px;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 300;
}
#wrap span {
    font-weight: 500;
    text-transform: uppercase;
}

#clock {
    color: #FFFFFF;
    margin-top: 25px;
    position: relative;
    display: inline-block;
    margin-right: -13px;
}

#location {
    font-size: 1.5em; 
    text-transform: none
}

#button {
    z-index: 9999;
    position: relative;
    background: none;
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin-right: -92px;
    margin-top: 43px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 300px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
}

#button2 {
    z-index: 9999;
    position: relative;
    background: none;
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 300px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#audio {
    text-align: right;
    overflow: hidden;
    height: 200px;
}

#footer {
    z-index: 9999;
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-size: .7em;
    bottom: 5px;
    left: 50%;
    margin-left: -93px;
    opacity: 0.4;
    font-weight: 500;
}

@media screen and (min-width: 600px) and (max-width: 760px) {

body {
overflow-x: hidden;
}

#tubular-container {
    display: none;
}

#clock {
    margin-right: -21%;
    width: 523px;
    overflow: hidden;
}

#footer {
    display: none;
}

button {
    display: none;
}

#wrap {
    width: 105%;
    overflow: hidden;
}

}

@media screen and (max-width: 600px)  {

body {
overflow-x: hidden;
}

#tubular-container {
    display: none;
}

#clock {
    width: 400px;
    overflow: hidden;
}

#footer {
    display: none;
}

button {
    display: none;
}

#wrap {
    width: 100%;
    top: 0%;
    margin-top: 0px;
    margin-left: 0px;
    overflow: hidden;
}

#wrap p {
    width: 95%;
    margin-left: 10px;
}

}

@media screen and (max-width: 380px)  {

body {
overflow-x: hidden;
}    

#tubular-container {
    display: none;
}

#clock {
    width: 200px;
}

#footer {
    display: none;
}

button {
    display: none;
}

#wrap {
    width: 100%;
    top: 0%;
    margin-top: 0px;
    overflow: hidden;
}

#wrap p {
    width: 95%;
    margin-left: 10px;
}

}