// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.circular {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: url(/images/my-pic.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}

hgroup {
	width: auto;
}

#my_pic {
	float: right;
	margin-top: -90px;
}

body>header {
	padding-bottom: 0.5em;
}

@import "coderay-github";

/* overrides of the lousy styles from _syntax.scss */
.CodeRay pre, p code, li code {
  background: #efefef;
  color: #000;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
}

/* fixes issue where the whole line wouldn't get colored in a diff */
.CodeRay span.insert, .CodeRay span.change, .CodeRay span.delete {
	width: auto;
}

// Nice line numbers
table.CodeRay td {
  padding: 1px;
}

// Transparent background
.CodeRay, .CodeRay .line-numbers, .CodeRay .no {
	background-color: transparent;
}